/* Boxes */
.letter {
  width: 130px;
  /*resize as you see fit */
  height: 170px;
  /*resize as you see fit */
  display: inline-block;
  /* this makes block level elements act like letters (so they sit next to eachother) */
  border: 1px solid #000;
  /*feel free to remove or hide this rule */
  position: relative;
  /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}

.letter-i {
  width: 30px;
}

.letter-a {
  width: 120px;
}

.letter-b {
  width: 120px;
}

.letter-c {
  width: 96px;
}

.letter-d {
  width: 120px;
}

.letter-e {
  width: 96px;
}
/* Letters */

.a__stem {
  position: absolute;
  left: 90px;
  top: 45px;
  width: 30px;
  height: 125px;
  background-color: black;
  border-radius: 25%;
}

.a__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.a__counter {
  position: absolute;
  top: 74px;
  left: 26px;
  width: 55px;
  height: 70px;
  background-color: white;
  border-radius: 30%;
}

.b__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.b__bowl {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.b__counter {
  position: absolute;
  top: 74px;
  left: 39px;
  width: 55px;
  height: 70px;
  background-color: white;
  border-radius: 30%;
}

.c__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.c__counter {
  position: absolute;
  top: 75px;
  left: 25px;
  width: 87px;
  height: 70px;
  background-color: white;
  border-radius: 20%;
}

.c__end-top {
  position: absolute;
  top: 62px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: black;
  border-radius: 30%;
}

.c__end-bottom {
  position: absolute;
  top: 139px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: black;
  border-radius: 30%;
}

.c__blocker2 {
  position: absolute;
  top: 59px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.c__blocker1 {
  position: absolute;
  top: 139px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.d__stem {
  position: absolute;
  width: 30px;
  right: 0px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.d__bowl {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.d__counter {
  position: absolute;
  top: 74px;
  left: 26px;
  width: 55px;
  height: 70px;
  background-color: white;
  border-radius: 30%;
}

.e__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.e__counter {
  position: absolute;
  top: 75px;
  left: 25px;
  width: 87px;
  height: 70px;
  background-color: white;
  border-radius: 20%;
}

.e__inside-bowl {
  position: absolute;
  top: 72px;
  left: 25px;
  width: 50px;
  height: 25px;
  background-color: white;
  border-radius: 20%;
}

.e__end-top {
  position: absolute;
  top: 62px;
  left: 70px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.e__cross-bar {
  position: absolute;
  transform: rotate(90deg);
  top: 62px;
  left: 36px;
  width: 25px;
  height: 85px;
  background-color: black;
  border-radius: 30%;
}

.e__end-bottom {
  position: absolute;
  top: 139px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: black;
  border-radius: 30%;
}

.e__blocker2 {
  position: absolute;
  top: 59px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.e__blocker1 {
  position: absolute;
  top: 139px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.i__stem {
  position: absolute;
  margin-top: 45px;
  width: 30px;
  height: 125px;
  background-color: black;
  border-radius: 25%;
}

.i__dot {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 30%;
}
