/* Boxes */
.letter {
  width: 130px;
  /*resize as you see fit */
  height: 170px;
  /*resize as you see fit */
  display: inline-block;
  /* this makes block level elements act like letters (so they sit next to eachother) */
  /* border: 1px solid #000; */
  /*feel free to remove or hide this rule */
  position: relative;
  /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}

.letter-a {
  width: 122px;
}

.letter-b {
  width: 120px;
}

.letter-c {
  width: 96px;
}

.letter-d {
  width: 120px;
}

.letter-e {
  width: 100px;
}

.letter-f {
  width: 120px;
}

.letter-g {
  width: 106px;
  top: 45px;
}

.letter-h {
  width: 115px;
}

.letter-i {
  width: 30px;
  padding-right: 5px;
  padding-left: 5px;
}

.letter-j {
  width: 102px;
}

.letter-k {
  width: 95px;
}

.letter-l {
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.letter-m {
  width: 180px;
}

.letter-n {
  width: 108px;
  padding-right: 5px;
}

.letter-o {
  width: 100px;
}

.letter-p {
  width: 116px;
  top: 45px;
}

.letter-q {
  width: 140px;
}

.letter-r {
  width: 108px;
}

.letter-s {
  width: 120px;
}

.letter-t {
  width: 85px;
}

.letter-u {
  width: 108px;
  transform: scaleX(-1) scaleY(-1);
}

.letter-v {
  width: 128px;
}

.letter-w {
  width: 231px;
}

.letter-x {
  width: 116px;
}

.letter-y {
  width: 120px;
  top: 45px;
}

.letter-z {
  width: 115px;
}

.apost {
  width: 50px;
}

/* Number Width  */

.letter-0 {
  width: 100px;
}

.letter-1 {
  width: 60px;
}

.letter-2 {
  width: 114px;
}

.letter-3 {
  width: 114px;
}

.letter-4 {
  width: 110px;
}

.letter-5 {
  width: 115px;
}

.letter-6 {
  width: 115px;
}

.letter-7 {
  width: 114px;
}

.letter-8 {
  width: 115px;
}

.letter-9 {
  width: 115px;
}
/* Letters */

.a__stem {
  position: absolute;
  left: 90px;
  top: 45px;
  width: 30px;
  height: 125px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.a__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.a__counter {
  position: absolute;
  top: 74px;
  left: 26px;
  width: 55px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 30%;
}

.b__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.b__bowl {
  position: absolute;
  top: 50px;
  left: 14px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.b__counter {
  position: absolute;
  top: 74px;
  left: 33px;
  width: 55px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 30%;
}

.c__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.c__counter {
  position: absolute;
  top: 75px;
  left: 25px;
  width: 87px;
  height: 70px;
  background-color: #d9b0a4;
  border-radius: 20%;
}

.c__end-top {
  position: absolute;
  top: 62px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: black;
  border-radius: 30%;
}

.c__end-bottom {
  position: absolute;
  top: 139px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: black;
  border-radius: 30%;
}

.c__blocker2 {
  position: absolute;
  top: 59px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.c__blocker1 {
  position: absolute;
  top: 139px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: white;
  border-radius: 20%;
}

.d__stem {
  position: absolute;
  width: 30px;
  left: 84px;
  /* right: 0px; */
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.d__bowl {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.d__counter {
  position: absolute;
  top: 74px;
  left: 26px;
  width: 55px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 30%;
}

.e__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.e__counter {
  position: absolute;
  top: 75px;
  left: 25px;
  width: 87px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 20%;
}

.e__inside-bowl {
  position: absolute;
  top: 72px;
  left: 25px;
  width: 50px;
  height: 25px;
  background-color: rgb(134, 149, 143);
  border-radius: 20%;
}

.e__end-top {
  position: absolute;
  top: 62px;
  left: 70px;
  width: 25px;
  height: 50px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.e__cross-bar {
  position: absolute;
  transform: rotate(90deg);
  top: 62px;
  left: 36px;
  width: 25px;
  height: 85px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.e__end-bottom {
  position: absolute;
  top: 139px;
  left: 70px;
  width: 25px;
  height: 18px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.e__blocker2 {
  position: absolute;
  top: 59px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: rgb(134, 149, 143);
  border-radius: 20%;
}

.e__blocker1 {
  position: absolute;
  top: 139px;
  left: 95px;
  width: 4px;
  height: 29px;
  background-color: rgb(134, 149, 143);
  border-radius: 20%;
}

.f__stem {
  position: absolute;
  width: 30px;
  left: 21px;
  height: 170px;
  background-color: black;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
}

.f__cross-bar {
  position: absolute;
  transform: rotate(90deg);
  top: 40px;
  left: 30px;
  width: 25px;
  height: 85px;
  background-color: black;
  border-radius: 30%;
}

.f__end-top {
  position: absolute;
  right: 0px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.f__top-bar {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 92px;
  height: 25px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.g__stem {
  position: absolute;
  width: 30px;
  left: 75px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.g__bowl {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 90px;
  height: 110px;
  background-color: black;
  border-radius: 30%;
}

.g__counter {
  position: absolute;
  top: 27px;
  left: 24px;
  width: 50px;
  height: 65px;
  background-color: white;
  border-radius: 30%;
}

.g__end-btm {
  left: 3px;
  position: absolute;
  bottom: 0px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.g__btm-bar {
  position: absolute;
  top: 145px;
  left: 12px;
  width: 88px;
  height: 25px;
  background-color: black;
  border-bottom-right-radius: 20%;
}

.h__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.h__end-top {
  position: absolute;
  top: 50px;
  left: 80px;
  width: 30px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.h__top-bar {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 75px;
  height: 30px;
  background-color: #ead0c5;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.i__stem {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.i__dot {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.j__stem {
  position: absolute;
  width: 30px;
  top: 40px;
  left: 72px;
  height: 130px;
  background-color: black;
  border-radius: 25%;
}

.j__dot {
  position: absolute;
  width: 30px;
  left: 72px;
  height: 30px;
  background-color: black;
  border-radius: 30%;
}

.j__end-btm {
  left: 0px;
  position: absolute;
  bottom: 0px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.j__btm-bar {
  position: absolute;
  top: 145px;
  left: 9px;
  width: 88px;
  height: 25px;
  background-color: black;
  border-bottom-right-radius: 20%;
}

.k__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.k__cross-bar {
  position: absolute;
  top: 91px;
  left: 25px;
  width: 66px;
  height: 30px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}
/* .k__btm-leg {
  position: absolute;
  top: 63px;
  transform: rotate(-45deg);
  left: 50px;
  width: 30px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
} */

.k__btm-leg {
  position: absolute;
  top: 93px;
  left: 65px;
  width: 30px;
  height: 77px;
  background-color: black;
  border-radius: 25%;
}

.k__top-leg {
  position: absolute;
  top: 36px;
  transform: rotate(45deg);
  left: 35px;
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 30%;
}

.l__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.m__stem {
  position: absolute;
  width: 30px;
  top: 45px;
  height: 125px;
  background-color: black;
  border-radius: 25%;
}

.m__middle-leg {
  position: absolute;
  top: 50px;
  left: 77px;
  width: 30px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.m__top-bar1 {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 75px;
  height: 30px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.m__end-leg {
  position: absolute;
  top: 50px;
  left: 150px;
  width: 30px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.m__top-bar2 {
  position: absolute;
  top: 50px;
  left: 101px;
  width: 75px;
  height: 30px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.n__stem {
  position: absolute;
  width: 30px;
  top: 45px;
  height: 125px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.n__end-leg {
  position: absolute;
  top: 50px;
  left: 78px;
  width: 30px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.n__top-bar {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 75px;
  height: 30px;
  background-color: #ead0c5;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.o__bowl {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.o__counter {
  position: absolute;
  top: 75px;
  left: 22px;
  width: 55px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 30%;
}

.p__stem {
  position: absolute;
  width: 30px;
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.p__bowl {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100px;
  height: 120px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.p__counter {
  position: absolute;
  top: 30px;
  left: 33px;
  width: 55px;
  height: 70px;
  background-color: rgb(134, 149, 143);
  border-radius: 30%;
}

.q__stem {
  position: absolute;
  left: 84px;
  width: 30px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.q__bowl {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100px;
  height: 120px;
  background-color: black;
  border-radius: 30%;
}

.q__counter {
  position: absolute;
  top: 30px;
  left: 26px;
  width: 55px;
  height: 70px;
  background-color: white;
  border-radius: 30%;
}

.q__tail {
  left: 100px;
  position: absolute;
  bottom: -13px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
  transform: rotate(90deg);
}

.r__stem {
  position: absolute;
  width: 30px;
  top: 40px;
  height: 130px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.r__end {
  position: absolute;
  top: 50px;
  left: 78px;
  width: 30px;
  height: 50px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.r__top-bar {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 75px;
  height: 30px;
  background-color: #ead0c5;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.s__top-end {
  position: absolute;
  top: 51px;
  left: 85px;
  width: 30px;
  height: 40px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.s__top-bar {
  position: absolute;
  top: 46px;
  left: 0px;
  width: 108px;
  height: 29px;
  background-color: #ead0c5;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.s__top-left {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 30px;
  height: 70px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.s__middle-bar {
  position: absolute;
  top: 92px;
  left: 0px;
  width: 108px;
  height: 29px;
  background-color: #ead0c5;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.s__btm-right {
  position: absolute;
  top: 98px;
  left: 85px;
  width: 30px;
  height: 65px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.s__btm-bar {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 108px;
  height: 29px;
  background-color: #ead0c5;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.s__btm-end {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.t__stem {
  position: absolute;
  width: 30px;
  left: 26px;
  height: 170px;
  background-color: #ead0c5;
  border-radius: 25%;
}

.t__cross-bar {
  position: absolute;
  transform: rotate(90deg);
  top: 25px;
  left: 27px;
  width: 30px;
  height: 85px;
  background-color: #ead0c5;
  border-radius: 30%;
}

.u__stem {
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: black;
  border-radius: 25%;
}

.u__end-leg {
  position: absolute;
  top: 4px;
  left: 78px;
  width: 30px;
  height: 126px;
  background-color: black;
  border-radius: 30%;
}

.u__btm-bar {
  position: absolute;
  left: 25px;
  width: 75px;
  height: 30px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.v__left {
  position: absolute;
  left: 23px;
  width: 30px;
  top: 41px;
  height: 133px;
  background-color: #ead0c5;
  border-radius: 25%;
  transform: rotate(-25deg);
}

.v__right {
  position: absolute;
  left: 75px;
  width: 30px;
  top: 41px;
  height: 133px;
  background-color: #ead0c5;
  border-radius: 25%;
  transform: rotate(25deg);
}

.w__left {
  position: absolute;
  left: 23px;
  width: 30px;
  top: 34px;
  height: 140px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-25deg);
}

.w__ctr-left {
  position: absolute;
  left: 75px;
  width: 30px;
  top: 34px;
  height: 140px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(25deg);
}

.w__ctr-right {
  position: absolute;
  left: 126px;
  width: 30px;
  top: 34px;
  height: 140px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-25deg);
}

.w__right {
  position: absolute;
  left: 178px;
  width: 30px;
  top: 34px;
  height: 140px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(25deg);
}

.x__left {
  position: absolute;
  left: 43px;
  width: 30px;
  top: 24px;
  height: 160px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-40deg);
}

.x__right {
  position: absolute;
  left: 43px;
  width: 30px;
  top: 24px;
  height: 160px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(40deg);
}

.y__left {
  position: absolute;
  left: 21px;
  width: 30px;
  top: -3px;
  height: 130px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-25deg);
}

.y__right {
  position: absolute;
  left: 59px;
  width: 30px;
  top: -6px;
  height: 180px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(25deg);
}

.y__tail {
  left: 12px;
  position: absolute;
  top: 133px;
  width: 25px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
  transform: rotate(90deg);
}

.z__top-end {
  position: absolute;
  top: 42px;
  left: 85px;
  width: 30px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.z__top-bar {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.z__middle {
  position: absolute;
  left: 43px;
  width: 30px;
  top: 33px;
  height: 145px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-45deg);
}

.z__btm-end {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 30px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
}

.z__btm-bar {
  position: absolute;
  top: 140px;
  left: 2px;
  width: 113px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-bottom-left-radius: 20%;
}

/* Numbers */

.zero__bowl {
  position: absolute;
  top: 0px;
  width: 100px;
  height: 170px;
  background-color: black;
  border-radius: 30%;
}

.zero__counter {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 55px;
  height: 120px;
  background-color: white;
  border-radius: 30%;
}

.zero__cross {
  position: absolute;
  left: 35px;
  width: 25px;
  top: 8px;
  height: 150px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(-18deg);
}

.one__stem {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.one__top {
  position: absolute;
  top: -2px;
  left: 9px;
  width: 30px;
  height: 50px;
  background-color: black;
  border-radius: 30%;
  transform: rotate(45deg);
}

.two__top-end {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.two__top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.two__top-rt {
  position: absolute;
  top: 4px;
  left: 84px;
  width: 30px;
  height: 55px;
  background-color: black;
  border-radius: 30%;
}

.two__middle {
  position: absolute;
  left: 41px;
  width: 30px;
  top: 24px;
  height: 150px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(42deg);
}

.two__btm-end {
  position: absolute;
  top: 130px;
  left: 84px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.two__btm-bar {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 113px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.three__top-end {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.three__top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.three__top-rt {
  position: absolute;
  top: 4px;
  left: 84px;
  width: 30px;
  height: 87px;
  background-color: black;
  border-radius: 30%;
  border-bottom-right-radius: 15%;
}

.three__middle-bar {
  position: absolute;
  top: 65px;
  left: 38px;
  width: 60px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
}

.three__btm-rt {
  position: absolute;
  top: 83px;
  left: 84px;
  width: 30px;
  height: 87px;
  background-color: black;
  border-radius: 30%;
  border-top-right-radius: 15%;
  border-top-left-radius: 0%;
}

.three__btm-end {
  position: absolute;
  top: 126px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.three__btm-bar {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-bottom-right-radius: 15%;
}

.four__stem {
  position: absolute;
  left: 80px;
  width: 30px;
  height: 170px;
  background-color: black;
  border-radius: 25%;
}

.four__end {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 30%;
}

.four__bar {
  position: absolute;
  top: 75px;
  left: 20px;
  width: 75px;
  height: 30px;
  background-color: black;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.five__top-end {
  position: absolute;
  top: 0px;
  left: 85px;
  width: 30px;
  height: 44px;
  background-color: black;
  border-radius: 30%;
  border-top-right-radius: 0%;
}

.five__top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 0%;
  /* border-top-right-radius: 23%; */
}

.five__top-left {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 30px;
  height: 84px;
  background-color: black;
  border-radius: 30%;
}

.five__middle-bar {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.five__btm-right {
  position: absolute;
  top: 65px;
  left: 85px;
  width: 30px;
  height: 99px;
  background-color: black;
  border-radius: 30%;
}

.five__btm-bar {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.five__btm-end {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.six__top-end {
  position: absolute;
  top: 0px;
  left: 85px;
  width: 30px;
  height: 44px;
  background-color: black;
  border-radius: 30%;
  /* border-top-right-radius: 0%; */
}

.six__top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 15%;
}

.six__top-left {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 30px;
  height: 160px;
  background-color: black;
  border-bottom-left-radius: 25%;
}

.six__middle-bar {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.six__btm-right {
  position: absolute;
  top: 65px;
  left: 85px;
  width: 30px;
  height: 99px;
  background-color: black;
  border-radius: 30%;
}

.six__btm-bar {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.six__btm-end {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.seven__top-end {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 30px;
  height: 40px;
  background-color: black;
  border-radius: 30%;
}

.seven__top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.seven__top-rt {
  position: absolute;
  top: 4px;
  left: 84px;
  width: 30px;
  height: 55px;
  background-color: black;
  border-radius: 30%;
}

.seven__middle {
  position: absolute;
  left: 54px;
  width: 30px;
  top: 21px;
  height: 156px;
  background-color: black;
  border-radius: 25%;
  transform: rotate(29deg);
}

.eight__top-rt {
  position: absolute;
  top: 5px;
  left: 85px;
  width: 30px;
  height: 70px;
  background-color: black;
  border-radius: 30%;
}

.eight__top-bar {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 99px;
  height: 30px;
  background-color: black;
  border-radius: 23%;
}

.eight__top-left {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 30px;
  height: 70px;
  background-color: black;
  border-radius: 30%;
}

.eight__middle-bar {
  position: absolute;
  top: 60px;
  left: 5px;
  width: 104px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.eight__btm-right {
  position: absolute;
  top: 65px;
  left: 85px;
  width: 30px;
  height: 99px;
  background-color: black;
  border-radius: 30%;
}

.eight__btm-bar {
  position: absolute;
  top: 140px;
  left: 8px;
  width: 99px;
  height: 30px;
  background-color: black;
  border-radius: 23%;
}

.eight__btm-end {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 30px;
  height: 99px;
  background-color: black;
  border-radius: 30%;
}

.nine__top-bar {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 104px;
  height: 30px;
  background-color: black;
  border-radius: 25%;
  border-top-right-radius: 23%;
}

.nine__right {
  position: absolute;
  top: 5px;
  left: 85px;
  width: 30px;
  height: 165px;
  background-color: black;
  border-radius: 30%;
}

.nine__btm-bar {
  position: absolute;
  top: 65px;
  left: 8px;
  width: 99px;
  height: 30px;
  background-color: black;
  border-radius: 23%;
}

.nine__left {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 30px;
  height: 85px;
  background-color: black;
  border-radius: 30%;
}

/* Poster Text  */
/* body {
  background: rgb(134, 149, 143);
  background: linear-gradient(
    0deg,
    rgba(134, 149, 143, 1) 0%,
    rgba(191, 204, 186, 1) 50%,
    rgba(219, 222, 224, 1) 100%
  );
} */

.background {
  width: 100vw;
  height: 100vh;
  background: rgb(134, 149, 143);
  /* background: linear-gradient(
    0deg,
    rgba(134, 149, 143, 1) 0%,
    rgba(191, 204, 186, 1) 50%,
    rgba(219, 222, 224, 1) 100%
  ); */
}

.save {
  position: fixed;
  top: 200px;
  left: 600px;
  transform: scale(0.8);
  transform-origin: 0 0;
}

.the {
  position: fixed;
  top: 200px;
  left: 1060px;
  transform: scale(0.8);
  transform-origin: 0 0;
}

.bees {
  position: fixed;
  top: 200px;
  left: 1400px;
  transform: scale(0.8);
  transform-origin: 0 0;
}

.don {
  position: fixed;
  top: 110px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.apost {
  width: 30px;
  height: 50px;
  background-color: #ead0c5;
  border-radius: 30%;
  position: fixed;
  top: 97px;
  left: 165px;
  transform: scale(0.45);
}

.let-t {
  position: fixed;
  top: 110px;
  left: 193px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.be {
  position: fixed;
  top: 250px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.let-a {
  position: fixed;
  top: 380px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.hater {
  position: fixed;
  top: 520px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.save2 {
  position: fixed;
  top: 650px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.the2 {
  position: fixed;
  top: 790px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.pollinator {
  position: fixed;
  top: 920px;
  left: 30px;
  transform: scale(0.4);
  transform-origin: 0 0;
}

.stb {
  position: fixed;
  top: 200px;
}

.hill {
  position: fixed;
  top: 85vh;
  left: 8vw;
  background-color: rgba(134, 149, 143, 1);
  width: 70vw;
  height: 38vh;
  border-radius: 50%;
}

.hill2 {
  position: fixed;
  top: 75vh;
  left: 10vw;
  background-color: rgba(191, 204, 186, 1);
  width: 80vw;
  height: 50vh;
  border-radius: 50%;
}

.hill3 {
  position: fixed;
  top: 82vh;
  left: 45vw;
  background-color: rgba(134, 149, 143, 1);
  width: 62vw;
  height: 50vh;
  border-radius: 50%;
}

.hill4 {
  position: fixed;
  top: 85vh;
  left: 31vw;
  background-color: rgba(191, 204, 186, 1);
  width: 80vw;
  height: 60vh;
  border-radius: 50%;
}

.hill5 {
  position: fixed;
  top: 87vh;
  left: -8vw;
  background-color: rgba(191, 204, 186, 1);
  width: 80vw;
  height: 60vh;
  border-radius: 50%;
}

.hill6 {
  position: fixed;
  top: 87vh;
  left: -15vw;
  background-color: rgba(134, 149, 143, 1);
  width: 80vw;
  height: 60vh;
  border-radius: 50%;
}

.round-body {
  position: absolute;
  left: 33px;
  top: 45px;
  background: rgb(243, 211, 74);
  background: linear-gradient(
    90deg,
    rgba(243, 211, 74, 1) 10%,
    rgba(0, 0, 0, 1) 15%,
    rgba(243, 211, 74, 1) 25%,
    rgba(243, 211, 74, 1) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgba(243, 211, 74, 1) 60%,
    rgba(243, 211, 74, 1) 75%,
    rgba(0, 0, 0, 1) 85%,
    rgba(243, 211, 74, 1) 90%
  );
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

.head {
  position: absolute;
  left: 95px;
  top: 40px;
  background: rgb(243, 211, 74);
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.eye {
  position: absolute;
  left: 112px;
  top: 51px;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.stinger {
  position: absolute;
  top: 62px;
  left: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 35px solid black;
  border-bottom: 10px solid transparent;
}

.wing1 {
  position: absolute;
  top: 0px;
  left: 37px;
  width: 30px;
  height: 50px;
  background-color: #dbdee0;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.wing2 {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 30px;
  height: 50px;
  background-color: #dbdee0;
  border-radius: 50%;
  transform: rotate(15deg);
}

.antenna1 {
  position: absolute;
  top: 27px;
  left: 120px;
  background-color: black;
  width: 2px;
  height: 15px;
  transform: rotate(20deg);
}

.antenna2 {
  position: absolute;
  top: 27px;
  left: 112px;
  background-color: black;
  width: 2px;
  height: 15px;
  transform: rotate(-20deg);
}

.bee-1 {
  position: fixed;
  top: 200px;
  left: 600px;
  transform: rotate(20deg) scaleX(-1);
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 10%;
    width: 50%;
  }
}

.bee-2 {
  position: fixed;
  top: 450px;
  left: 400px;
  transform: rotate(5deg);
}

.bee-3 {
  position: fixed;
  top: 125px;
  left: 710px;
  transform: rotate(-15deg);
  animation: 3s rotateBee linear infinite;
}

@keyframes rotateBee {
  from {
    transform: scale(0.5) rotate(0deg) translate(85px);
  }
  to {
    transform: scale(0.5) rotate(-360deg) translate(85px);
  }
}

.bee-4 {
  position: fixed;
  top: 779px;
  left: 1477px;
  transform: scaleX(-1) scale(0.6) rotate(20deg);
}

.bee-5 {
  position: fixed;
  top: 950px;
  left: 870px;
  transform: rotate(15deg) scale(0.5);
}

.petal-1 {
  position: absolute;
  top: 1020px;
  left: 1000px;
  background-color: #d9b0a4;
  width: 30px;
  height: 50px;
  border-radius: 50%;
}

.petal-2 {
  position: absolute;
  top: 1032px;
  left: 1022px;
  background-color: #ead0c5;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(45deg);
}

.petal-3 {
  position: absolute;
  top: 1050px;
  left: 1023px;
  background-color: #d9b0a4;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.petal-4 {
  position: absolute;
  top: 1064px;
  left: 1014px;
  background-color: #ead0c5;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.petal-5 {
  position: absolute;
  top: 1068px;
  left: 1000px;
  background-color: #d9b0a4;
  width: 30px;
  height: 50px;
  border-radius: 50%;
}

.petal-6 {
  position: absolute;
  top: 1064px;
  left: 981px;
  background-color: #ead0c5;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(45deg);
}

.petal-7 {
  position: absolute;
  top: 1050px;
  left: 979px;
  background-color: #d9b0a4;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.petal-8 {
  position: absolute;
  top: 1032px;
  left: 980px;
  background-color: #ead0c5;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.flower-centre {
  position: absolute;
  top: 1060px;
  left: 1003px;
  background-color: #fff7ae;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.flower-1 {
  position: fixed;
  top: -40px;
}

.flower-2 {
  position: fixed;
  top: 500px;
  left: 486px;
  transform: rotate(5deg) scale(0.5);
  transform-origin: 0, 0;
}

.flower-3 {
  top: 132px;
  left: 687px;
  position: fixed;
  transform: rotate(20deg) scale(0.7);
}

.flower-4 {
  position: fixed;
  top: 400px;
  left: 1486px;
  transform: rotate(15deg) scale(0.5);
}

.flower-5 {
  position: fixed;
  top: 250px;
  left: 500px;
  transform: scale(0.8);
}

.bee__path-1 {
  position: fixed;
  top: 409px;
  left: 1420px;
  background-color: #86958f;
  border: 3px dashed #6a6361;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  transform: rotate(11deg);
}

.path__blocker-1 {
  width: 310px;
  height: 430px;
  border-radius: 50%;
  transform: rotate(10deg);
  background-color: #86958f;
  position: fixed;
  top: 388px;
  left: 1396px;
}
